In [1]:
from typing import Optional
from sqlmodel import Field, Session, SQLModel, create_engine, select

In [2]:
class Student(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    user_name: str
    degree: Optional[int] = None

In [3]:
SQLALCHEMY_DATABASE_URL="postgresql://train:Ankara06@localhost:5433/traindb"

In [4]:
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=True)

In [5]:
def create_db_and_tables():
    SQLModel.metadata.create_all(engine)

In [6]:
# drop table student

In [7]:
create_db_and_tables()

2022-11-19 19:16:25,857 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-11-19 19:16:25,863 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 19:16:25,872 INFO sqlalchemy.engine.Engine select current_schema()
2022-11-19 19:16:25,874 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 19:16:25,881 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-11-19 19:16:25,883 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 19:16:25,888 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:16:25,892 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-11-19 19:16:25,895 INFO sqlalchemy.engine.Engine [generated in 0.00292s] {'name': 'student'}
2022-11-19 19:16:25,901 INFO sqlalchemy.engine.Engine
CREATE TABLE student (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	user_name VARCHAR NOT NULL,
	degree INTEGER,
	PRIMARY KEY (id)
)


2022-11-19 19:16:25,904 INFO sqlalchemy.engine.Engine [no key 0.00296s] {}
2022-11-19 19:16:25,922 INFO sqlalchemy.engine.Engine CREATE INDEX ix_student_name ON student (name)
2022-11-19 19:16:25,925 INFO sqlalchemy.engine.Engine [no key 0.00254s] {}
2022-11-19 19:16:25,933 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
def create_students():
    std_1 = Student(name="Hicaziye HAMİDİYELİ", user_name="crazy_hicaziye")
    std_2 = Student(name="Satılmış KURT", user_name="naive_18")
    std_3 = Student(name="Menşure GÜNDÜZ", user_name="angel_eyes", degree=3)
    std_4 = Student(name="Mehtap HAMİDİYELİ", user_name="cop_mehtiye", degree=5)
    std_5 = Student(name="Mevlüt SANCAK", user_name="cute_goril", degree=1)
    std_6 = Student(name="Semra GÜLSEVEN", user_name="learning_journal", degree=3)
    std_7 = Student(name="Şehriban ÇELEN", user_name="aligidi_bakery", degree=4)
    std_8 = Student(name="Muhittin GÜLER", user_name="neighbor_uncle", degree=2)
    std_9 = Student(name="Peçenekli SÜLEYMAN", user_name="string_teller", degree=4)
    
    objects = [std_1, std_2, std_3, std_4, std_5, std_6, std_7, std_8, std_9]
    with Session(engine) as session:  # 
        session.bulk_save_objects(objects)
        session.commit()

In [9]:
create_students()

2022-11-19 19:16:55,171 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:16:55,179 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name) VALUES (%(name)s, %(user_name)s)
2022-11-19 19:16:55,183 INFO sqlalchemy.engine.Engine [generated in 0.00377s] ({'name': 'Hicaziye HAMİDİYELİ', 'user_name': 'crazy_hicaziye'}, {'name': 'Satılmış KURT', 'user_name': 'naive_18'})
2022-11-19 19:16:55,192 INFO sqlalchemy.engine.Engine INSERT INTO student (name, user_name, degree) VALUES (%(name)s, %(user_name)s, %(degree)s)
2022-11-19 19:16:55,194 INFO sqlalchemy.engine.Engine [generated in 0.00247s] ({'name': 'Menşure GÜNDÜZ', 'user_name': 'angel_eyes', 'degree': 3}, {'name': 'Mehtap HAMİDİYELİ', 'user_name': 'cop_mehtiye', 'degree': 5}, {'name': 'Mevlüt SANCAK', 'user_name': 'cute_goril', 'degree': 1}, {'name': 'Semra GÜLSEVEN', 'user_name': 'learning_journal', 'degree': 3}, {'name': 'Şehriban ÇELEN', 'user_name': 'aligidi_bakery', 'degree': 4}, {'name': 'Muhittin GÜLER', 'user_name': 'neighbor_uncle', 'degree': 2}, {'name': 'Peçenekli SÜLEYMAN', 'user_name': 'string_teller', 'degree': 4})
2022-11-19 19:16:55,198 INFO sqlalchemy.engine.Engine COMMIT

# Delete one row

In [10]:
def delete_student():
    with Session(engine) as session:
        statement = select(Student).where(Student.name == "Peçenekli SÜLEYMAN")
        results = session.exec(statement)
        student = results.one()
        print("Student: ", student)

        session.delete(student)
        session.commit()
        
        print("Deleted student:", student)
        
        statement = select(Student).where(Student.name == "Peçenekli SÜLEYMAN")
        results = session.exec(statement)
        student = results.first()
        if student is None:
            print("There's no student named Peçenekli SÜLEYMAN")

In [11]:
delete_student()

2022-11-19 19:20:47,280 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:20:47,293 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2022-11-19 19:20:47,297 INFO sqlalchemy.engine.Engine [generated in 0.00401s] {'name_1': 'Peçenekli SÜLEYMAN'}
Student:  name='Peçenekli SÜLEYMAN' user_name='string_teller' id=9 degree=4
2022-11-19 19:20:47,308 INFO sqlalchemy.engine.Engine DELETE FROM student WHERE student.id = %(id)s
2022-11-19 19:20:47,312 INFO sqlalchemy.engine.Engine [generated in 0.00386s] {'id': 9}
2022-11-19 19:20:47,316 INFO sqlalchemy.engine.Engine COMMIT
Deleted student: name='Peçenekli SÜLEYMAN' user_name='string_teller' id=9 degree=4
2022-11-19 19:20:47,322 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 19:20:47,327 INFO sqlalchemy.engine.Engine SELECT student.id, student.name, student.user_name, student.degree
FROM student
WHERE student.name = %(name_1)s
2022-11-19 19:20:47,329 INFO sqlalchemy.engine.Engine [cached since 0.03599s ago] {'name_1': 'Peçenekli SÜLEYMAN'}
There's no student named Peçenekli SÜLEYMAN
2022-11-19 19:20:47,333 INFO sqlalchemy.engine.Engine ROLLBACK